

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 body {
    color: #333;
}

a {
    text-decoration: none;
    color: #d6c993;
}

label {
    color: rgb(189, 185, 185);
    /* color: white; */
}

legend {
    color: white !important;
}

input {
    height: 32px !important;
    height: 27px;
    background-color: #252527;
    border-color: rgb(109, 109, 109) !important;
    border-radius: 0 !important;
    box-shadow: inset 0 1px 3px rgb(109, 109, 109) !important;
    color: rgb(229, 228, 232);
    width: 100%;
}

input#mackbot, input#myMackbot, input#nightMode {
    height: 27px !important;
    box-shadow: none !important;
    width: 5%;
    position: relative;
    top: 5px;
}

select {
    background-color: #252527 !important;
    border-color: rgb(109, 109, 109) !important;
    box-shadow: inset 0 1px 3px rgb(109, 109, 109);
    color: rgb(229, 228, 232);
    width: 80%;
    height: 27px !important;
    padding: .2em .6em !important;
}

option {
    background: #202020;
    background-color: rgba(0, 0, 0, 0.3);
}

.red {
    color: red;
}

.w-45 {
    width: 45%;
}

.error {
    padding: 10px;
    padding-left: 30px;
    background-color: red;
    /* border-radius: 12px;
    position: fixed;
    top: 50%;
    background: red;
    z-index: 9000000;
    width: 80%;
    word-break: break-all;
    padding: 10px;
    left: 10%;
    text-align: center; */
}

.welcome-message {
    border-radius: 12px;
    position: fixed;
    top: 20%;
    background: rgb(16, 71, 23);
    color: #40c365;
    z-index: 9000000;
    width: 70%;
    word-break: break-all;
    padding: 10px;
    left: 10%;
    text-align: center;
}

.submitAccessToken {
    background: #252527;
    border-radius: 7px;
    width: 90px;
    height: 30px;
}

.u-gray {
    color: #0d0d25 !important;
}

table {
    width: 100%;
}

/* Icons */
.icon-item {
    width: 18px;
    margin-bottom: -5px;
}

/* End of icons */

/* tr:nth-child(even) {background: #F00} */
tr:nth-child(odd) {background: #323235}


.post-note {
    position: relative;
    left: 285px;
    bottom: 20px;
    font-size: small;
    color: #252527;
}

.email-item:hover .post-note {
    color: #d1d1d1;
    cursor: pointer;
}

.post-note-active {
    font-size: initial;
    left: 270px;
    bottom: 18px;
    color: red;
}

.email-item:hover .post-note-active {
    color: red;
    font-size: initial;
}

.custom-radio-buttons {
    position: relative;
    /* top: -10px; */
    width: 95%;
    display: inline-flex;
}

.custom-radio-flex-input {
    position: relative;
    /* top: 15px; */
}

/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}
.primary-button {
    color: #fff;
    background: #70ef9b;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

.pointer {
    cursor: pointer;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #nav, #list, #main {
    margin: 0;
    padding: 0;
}

.pure-menu-list {
    text-align: left;
}

.remove-search {
    float: right;
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: #252527; /* #434451; rgb(37, 42, 58); */
    text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 220%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
    margin: 5px;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 1em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu-link:hover,
    #nav .pure-menu-link:focus {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu-link {
        color: #fff;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }


/*
 * Styles relevant to the email messages, labels, counts, and more.
 */
.email-count {
    color: rgb(75, 113, 151);
}

.email-label-personal,
.email-label-work,
.email-label-travel {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}
.email-label-personal {
    background: #ffc94c;
}
.email-label-work {
    background: #41ccb4;
}
.email-label-travel {
    background: #40c365;
}

/* Email Item Styles */
.email-item {
    padding: .5em .5em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}

.email-item:hover {
    /* background-color: #323235; */
}

.email-avatar {
    border-radius: 3px;
    margin-right: 0.5em;
}

.email-avatar-2 {
    position: relative;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin-right: 0.5em;
}

.email-avatar-hv:hover {
    z-index: 1000;
}

.email-name,
.email-subject {
    margin: 0;
}
.email-name {
    font-size: 0.75em;
    text-transform: uppercase;
    color: #999;
}
.email-subject {
    width: 118%;
    font-size: 0.9em;
}
.email-desc {
    width: 118%;
    font-size: 14px;
    /* font-size: 80%; */
    margin: 0 0;
    line-height: 1.4;
}

.email-item-selected {
    background: #eee;
}
.email-item-unread {
    border-left: 6px solid #70ef9b;
}

/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
    padding: 1em 2em;
}

.email-content-body {
    min-height: 420px;
}

.email-content-body img {
    max-width: 90%;
}

.email-subject {
    word-break: break-word;
    position: relative;
    bottom: 12px;
}

.email-content-header {
    border-bottom: 1px solid #ddd;
}

    .email-content-title {
        width: 100%;
        margin: 0.5em 0 0;
    }
    .email-content-subtitle {
        width: 100%;
        font-size: 1em;
        margin: 0;
        font-weight: normal;
    }
        .email-content-subtitle span {
            color: #999;
        }
.email-content-controls {
    margin-top: 2em;
    text-align: right;
}
    .email-content-controls .secondary-button {
        margin-bottom: 0.3em;
    }

.email-avatar {
    width: 40px;
    height: 40px;
}

/*
* PHONES IN PORTRAIT
* (min-device-width : 320px) and (max-device-width : 480px)  
*/
@media only screen and (min-device-width : 20em) and (max-device-width : 30em) {
    .email-subject {
        width: 100%;
    }

    .email-desc {
        width: 100%;
    }

    .header-track span {
        font-size: 11px;
    }

    .header-track a {
        padding-right: 12px;
        padding-top: 4px;
        font-size: 11px;
    }

    .footer-links {
        font-size: 10px;
    }

    input[type="number"] {
        display: inline !important;
    }

    .total-results {
        position: relative;
        top: 5px;
    }

    .post-note, .post-note-active {
        visibility: hidden;
        left: 0;
    }

    .close-main-btn {
        display: block !important;
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 999;
    }

    #main {
        display: none;
    }
    .main-modal {
        display: block !important   ;
        position: fixed; 
        z-index: 999; 
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        overflow: scroll;
        background-color: #252527;
        color: #e5e4e8;
    }

    .email-content-controls a {
        position: absolute;
        right: 5px;
    }

    .login-form {
        width: 90% !important;
    }

    .preview-collapsed-btn {
        display: none;
    }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:700px; /* "left col (nav + list)" width */
        position: relative;
        padding-top: 23px; 
    }

    /* These are position:fixed; elements that will be in the left 700px of the screen */
    #nav, #list {
        position: fixed;
        top: 23px;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-700px; /* "left col (nav + list)" width */
        width:250px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        overflow: hidden;
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #list {
        z-index: 0;
        margin-left: -400px;
        width: 100%;
        height: 33% !important;
        border-bottom: 1px solid #ddd;
    }

    #main {
        position: fixed;
        /* margin-left: -100px !important; */
        top: 38%;
        right: 0;
        bottom: 0;
        left: 300px;
        overflow: auto;
        width: 100%; /* 400px*/
        /* width: auto; so that it's not 100% */
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        margin-left: -450px;
        width: 450px;
        height: 95% !important;
        border-right: 1px solid #ddd;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        position: static;
        margin: 0;
        padding: 0;
        top: 0px;
    }
}

/* LOADING SCREEN */
.loading {
    width: 100%;
    height: 100%;
    position: fixed;
}
body {
    color: rgb(229, 228, 232);
    background-color: #252527;
}

.sk-fading-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #70ef9b;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
  }


/* END OF LOADING */

/* SLIDER CUSTOM */
.minute-slider-wrap {
    width: 90%;
    margin-left: 10px;
}
.vue-slider-component {
    margin-top: 20px;
}

.vue-slider-tooltip {
    background-color: #70ef9b !important;
    border: #70ef9b !important;
    color: #252527 !important;
}

.vue-slider-piecewise {
    background: rgb(189, 185, 185) !important;
}

.vue-slider-process {
    background: white !important;
}


/* My Macbot List modal */
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.mackbot-list { 
    max-width: 400px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    overflow-y: scroll;
}

.mackbot-list li {
    list-style: none;
    color: #000;
}

input[name='numOfPosts'] {
    width: 5%;
    position: relative;
    top: 6px;
}

.curie-logo {
    display: none;
}

@media (min-width: 40em) {
    .curie-logo {
        display: block;
        z-index: 9999999;
        width: 35%;
        position: absolute;
        left: 0px;
        top: 5px;
    }

    .total-results {
        position: relative;
        left: 35px;
    }

    #refine-your-search {
        padding-left: 70px;
        position: relative;
        top: 0px;
        padding-bottom: 20px;
    }
}

@media (max-width: 40em) {
    #layout {
        padding-top: 23px;
    }
    .collapse-btn {
        display: none;
    }
}

.footer-links {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    width: 100vw;
    background-color: black;
    margin-bottom: 0;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.most-right {
    float: right;
}

.help-page {
    padding: 20px;
    text-align: center;
}

.header-track {
    font-family: Montserrat,sans-serif;
    padding-left: 10px;
    padding-top: 3px;
    font-style: normal;
    color: #bdb9b9;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 23px;
    background-color: #343438;
}

.header-track a {
    float: right;
    padding-right: 15px;
    font-weight: bold;
}

.search-btn {
    padding: .5em 0.5e
}

.collapse-btn {
    position: absolute;
    right: 4px;
    /* top: -5px; */
    margin: .5em .2em 0;
    padding: .1em 0.5em;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.arrows {
    vertical-align: middle;
    margin: 0 auto;
}

.nav-collapsed {
    width: 50px !important;
}

.list-collapsed {
    width: 650px !important;
    margin-left: -650px !important;
}

.main-collapsed {
    /* position: relative !important;
    left: -200px !important; */
    top: 0;
}

.post-note-collapsed {
    left: 478px;
}

.post-note-active-collapsed {
    left: 468px;
}

.close-main-btn {
    display: none;
}

.login-form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.login-form div {
    padding-bottom: 15px;
}

.save-btn {
    background-color: #d6c993;
}

.preview-collapsed {
    visibility: hidden;
    height: 50px;
}

.preview-collapsed-btn {
    visibility: visible;
}

.preview-collapsed-btn {
    left: 97%;
}

.preview-collapsed-list {
    width: 80% !important;
}
.filter-and-preview-collapsed-list {
    width: 93% !important;
}

.avatar-1-collapsed {
    position: absolute;
    right: 0;
    height: 80px !important;
    width: auto;
    max-width: 250px;
    border-radius: 3px;
}
.avatar-2-collapsed {
    position: absolute;
    width: auto;
    max-width: 250px;
    height: 80px;
    right: 93px;
    border-radius: 3px;
}

.note-hidden {
    visibility: hidden;
}

/* Day theme */
.day-theme div {
    background-color: white;
}

.day-theme .collapse-btn {
    background: black;
}

.day-theme .collapse-btn-child {
    background: transparent;
}

.day-theme label {
    color: black;
}

.day-theme span {
    color: black !important;
}

.day-theme select {
    background: white !important;
    color: black;
}

.day-theme input {
    background: white !important;
    color: black;
}

.day-theme a {
    color: #48619a !important;
}

.day-theme a {
    color: black;
}

.day-theme .email-item {
    color: black;
}

.day-theme .email-content-title, .day-theme .email-content-subtitle, .day-theme .email-content-body, .day-theme h2 {
    color: black;
}

.day-theme .sk-fading-circle .sk-circle:before {
    background-color: black !important;
}
/* End of Day theme */
