<!DOCTYPE html>
<html>
{% include 'head.html' %}

<body class="help-page">
<h3>About us</h3>
<p>Steemlookup is a tool that allows you to browse and filter Steemit content in an efficient way. Steemlookup is connected directly to Steemit blockachain, it is fast and reliable.</p>

<h3>Getting started</h3>
<p>If you want to input search parameters, you should look at the left track a.k.a. filter track.</p>
<p>You can filter posts by author reputation, time of creation, number of words, number of images, pending payout, number of votes or number of comments. In all of these cases, you can filter posts by setting higher than value, lower than value or between two values.</p>
<p>You can also filter posts by tags. If you want to input more than one tag you should have in mind that tags are separated by space and not by comma.</p>
<p>You can include any of mentioned tags. This means if your input is include any of art music sports bitcoin tags, result of your search will have only posts with one of these tags.</p>
<p>If you use include all of art music sports bitcoin tags, result of your search will have only posts with all of these tags.</p>
<p>The same story is for exclude any/all of.</p>
<p>You can filter posts by title/body contains words/phrases. If your search is, for example, title contains art, result of your search will have only posts containing word art in title. If you speak only English language, you can exclude all posts written in languages other than English, using language filter.</p>
<p>If you don't like having plagiarists in your results, just check the box Exclude Mackbot list. This list contains all authors reported by Steemcleaners.</p>
<p>If you have any personal issues with some authors, you can also exclude them by creating your own list.</p>
<p>If you like your search filter so much, you can save it, and later modify it.</p>
<p>Load up to results button controls how many posts you can see at once. Default value is 2000, but if you have powerful computer you can go up to 50000 results.</p>
<p>Sort by box contains all sorting options. For example, you can search art posts and sort them by descending number of photos. Or you can search all posts in previous 24 hours and sort them by descending payout. Whatever you want!</p>

<h3>Reading the results</h3>
<p>Results to your search will appear in middle track a.k.a. results track.</p>
<p>You will be able to see post title, author's name and reputation, pending payout, number of words, number of images, number of comments and number of upvotes, and all of these parameters are marked by appropriate symbols. You can also see tags, and time of posting.</p>
<p>Two photos on left side of result track are post thumbnails.</p>
<p>With these features you can get certain insight in what post look like without opening it. We are refreshing our database all the time to get the most accurate information, but even if you find a post with not up to date info, it will become accurate within minutes.</p>

<h3>Preview track</h3>
<p>By clicking on the post in result track, whole post, in the form as it is on Steemit, will appear in right track, a.k.a. preview track. This way, while scrolling through your results, you can see actual post and read it, without going to Steemit.com.</p>

<h3>Conclusion</h3>
<p>This project was started by Curie's initiative, and Steemlookup's completion was supported by Curie.</p>
<p>If you find this tool valuable and useful, please follow us to get newest updates and weekly reports.</p>
<p>https://steemit.com/@steemlookup</p>
<p>&nbsp;</p>

<a href="/">Start your search!</a>
<p>&nbsp;</p><p>&nbsp;</p>

</body>
</html>
