<!DOCTYPE html>
<html>
{% include 'head.html' %}

<body>
<div id="app"></div>

<script async src="/js/base.js"></script>
<p class="footer-links">
    <a class="white" href="mailto:steemlookup@gmail.com">&nbsp;CONTACT US</a>&nbsp;&nbsp;&nbsp;
    <a class="green" href="mailto:steemlookup@gmail.com">PROPOSE IMPROVEMENT</a>&nbsp;&nbsp;&nbsp;
    <a class="red" href="mailto:steemlookup@gmail.com">REPORT A BUG</a>
    <span class="white most-right"><a href="//steemit.com/@steemlookup" target="_blank">steemlookup.com</a> is brought to you by&nbsp;<a href="//steemit.com/@curie" target="_blank" class="red">@CURIE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</p>
</body>
</html>
